.cart-modal{
    
  position: absolute;
  top: 130px;
  right: 0%;
  margin-right: 20%;
  

  background-color: white;
  width: 400px;
  max-height: 700px;
  max-width: 100%;
  overflow-y: auto;
  border-radius: 8px;
  padding: 31px;
  
  display: flex;
  flex-direction: column;
  align-items: center;

 
}



.ReactModal__Overlay {
    background-color: hsla(0, 0%, 0%, 0.4) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
  }


  .cart-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }


  .cart-top{
    
    display: flex;
    justify-content: space-between;
  }

  .cart-top h1{
    font-size: 18px;
    text-transform: uppercase;
  }



  .cart-product-container{
    display: flex;
    flex-direction: column;
    
    gap: 24px;
  }


  .cart-single-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .cart-single-product img{
    width: 64px;
    border-radius: 10%;
  }



  .cart-product-details-left{
    display: flex;
    gap: 16px;
    align-items: center;
  }

  

  .cart-product-details p{
    color: black;
    font-weight: bold;
    font-size: 15px;
  }



.cart-product-details span{
    color: gray;
    font-weight: bold;
    font-size: 15px;
}

  .total-amount{
    display: flex;
    justify-content: space-between;
    
  }

  .total-amount span{
    color: gray;
    font-weight: 500;
    font-size: 15px;
  }

  .total-amount p{
    color: black;
    font-weight: bold;
    font-size: 18px;
  }


  .cart-btn{
    border: none;

    width: 100%;
    

    text-transform: uppercase;
    color: white;
    font-size: 13px;
    text-align: center;
    
  
    padding: 15px 30px;
    background-color: #D87D4A;
  }

  .cart-btn:hover{
    background-color: #FBAF85;
  }


  .empty-cart{
    margin: 0 auto;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 30px;
  }