@media screen and (max-width: 768px){
    

    .gear-container{
        display: flex;
        flex-direction: column-reverse;
        
        gap: 63px;

        vertical-align: center;
    }

    .gear-top-tablet{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .gear-top-tablet img{
        width: 689px;
        border-radius: 10px;
       
    }


    .gear-left{
        text-align: center;
        width: 80%;
    }



  
}