.gear-article{
    margin-bottom: 160px;
    
    width: 100%;
}


.gear-container{
    max-height: 588px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
    justify-content: space-between;

    
    width: 100%;
    

    
}




.gear-left{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.gear-left h1{
    text-transform: uppercase;
    font-size: 40px;
    
}

.gear-left h1 span{
    color: var(--color-primary);
}

.gear-left p{
    font-size: 15px;
    line-height: 25px;
    
    
}

.gear-right img{
    
    border-radius: 10px;
    
}


.gear-top-tablet{
    display: none;
}