@media screen and (max-width: 768px) {
  .hero-container {
    background: url("../../assets/home/tablet/image-header.jpg");
    justify-content: center;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
  }


  .hero-left{
    max-width: 349px;
    align-items: center;
  }

  
}
