.speaker-zx7-container{
    background: url("../../assets/home/desktop/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: 1110px 320px;
    min-height: 320px;
   

    padding: 101px 95px;
    margin-top: 50px;

    border-radius: 10px;

}

.zx7-left{
    max-width: 218px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.zx7-left h1{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    
}