.earphones{
    margin-top: 50px;
    margin-bottom: 200px;
  
}

.earphones-section{
    display: flex;
    flex-direction: row;
    gap: 11px;
    

    
}



 
 
.earphones-left{
    background: url("../../assets/home/desktop/image-earphones-yx1.jpg");
    border-radius: 10px;
   
    width: 50%;
    
    
}

.earphones-right{
        width: 50%;
        background-color: #F1F1F1;    
        
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 10px;

        padding: 101px 95px;
        gap: 32px;
}


.earphones-right h1{
    font-size: 28px;
    width: 245px;
}



