@media screen and (max-width: 768px) {
  .product-details-container {
    gap: 69px;
  }

  .product-details {
    width: 50%;
    display: flex;
    flex-direction: column;

    padding: 0;
  }

  .product-details-image img {
    width: 281px;
  }

  .additional-details {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  .features {
    width: 100%;
  }

  .in-the-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .gallery-tablet {
    max-width: 690px;
    max-height: 368px;
    display: block;
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }

  .gallery-right img {
    width: 395px;
  }
  .gallery-right {
    max-height: 368px;
  }
  .gallery-left {
    gap: 20px;
  }
  .gallery-left img {
    width: 277px;
  }

  .gallery-left-top,
  .gallery-left-bottom {
    max-height: 174px;
  }
}
