@media screen and (max-width: 768px) {
    
    .product-details-container {
        
        
        gap: 69px;
    }

    .product-details{
        width: 50%;
        display: flex;
        flex-direction: column;
    
        padding: 0;
    }
    
    .product-details-image{
        display: none;
    }
    
    
    .product-details-tablet-image{
        display: block;
        max-width: 281px;
        height: 480px;
    }
    

    .additional-details{
        display: flex;
        flex-direction: column;
        gap: 120px;
    }

    .features{
        width: 100%;
    }

    .inTheBox{
        width: 80%;
        display: flex;
        justify-content: space-between;
    }


    .gallery{
       display: none;
    }


    .gallery-tablet{
        max-width: 690px;
        max-height: 368px;
        display: block;
        display: flex;
        justify-content: space-between;
        gap: 18px;
    }


    
    
    
    .gallery-left-tablet{
        
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    
    
    .gallery-tablet img{
        border-radius: 10px;
        
    }

    .gallery-left-tablet img{
        max-width: 277px;
        max-height: 174px;
    }

    .gallery-right-image-tablet{
        max-width: 395px;
        max-height: 368px;
    }
}