@media screen and (max-width: 768px) {
    .checkout-summary-container{
       
        display: flex;
        flex-direction: column;
    }
    .checkout-inputs-container{
        width: 100%;
    }
    .summary-container-overall{
        width: 100%;
    }
}