.header {
    background-color: #191919;
    /* padding: 0px 24px; */
    color: white;
  }
  
 .header-container {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.2);
    align-items: center;
  }

  .header-logo{
    font-size: 28px;
    font-weight: bold;
    text-transform: lowercase;
  }

  .navigation {
    display: flex;
    gap: 34px;
    
  }


  .navigation-links{
    font-size: 13px;
    font-family: "Manrope";
    font-weight: bold;
    
  }

  .navigation-links:hover{
    color: #D87D4A
  }


  

  .header-container .cart{
    background-color: #191919;
    border: none;
    box-shadow: none;
    cursor: pointer;
    
  }


  .cart:hover svg path{
    fill: var(--color-primary)
  }


  