@media screen and (max-width: 768px) {
  .footer-navigation {
    display: block;
    padding-top: 60px;
  }

  .website-description {
    width: 100%;
  }

  .footer-navigation-links {
    margin-top: 32px;
  }

  .footer-social-icons {
    display: none;
  }

  .tablet-icons {
    display: flex;
  }
}
