@media screen and (max-width: 768px) {
    .single-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

 
   

     
    .single-product-img {
        display: block;
        width: 220px;
        
    } 


    

    .single-product-img-div{
        display: flex;
        border-radius: 10px;
        min-width: 689px;
        max-height: 352px;
        background-color: #F1F1F1;
       justify-content: center;
       
    }

    .product-info{
        align-items: center;
        width: 100%;
    }
}