@media screen and (max-width: 768px) {
  .speaker-zx9-container {
    display: flex;
    flex-direction: column;
    max-width: 698px;
    min-height: 740px;
  }

  .zx9-right {
    max-width: 349px;
    align-items: center;
    text-align: center;
    z-index: 1;
  }

 

  .speaker-zx9-image img {
    width: 198px;


    top: 50px;
    left: 50%;
    translate:calc(-50%)
  }

  .circle-img {
    position: absolute;
    width: 944px;
    height: 944px;
    left: auto;
    bottom: 70px;
  }
}
